<ion-header translucent>
  <ion-toolbar>
    <ion-title>Add New Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="memberForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="text" formControlName="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Id Proof</ion-label>
      <ion-input type="text" formControlName="idProof"></ion-input>
    </ion-item>
    <div class="ion-padding">
    <ion-button type="submit" (click)="addMember()">Add</ion-button>
  </div>
</form>
</ion-content>