  <ion-content fullscreen>
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-label position="floating">Registration Id</ion-label>
            <ion-input type="text" formControlName="regId"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        <div class="ion-padding">
          <ion-button type="submit" [disabled]="!loginForm.valid" (click)="login()">Login</ion-button>
        </div>
      </form>
  </ion-content>
