<ion-content>
    <form [formGroup]="pinForm">
        <ion-item>
          <ion-label position="floating">Enter pin</ion-label>
          <ion-input type="text" formControlName="pin"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Re-enter pin</ion-label>
          <ion-input type="password" formControlName="rePin"></ion-input>
        </ion-item>
      <div class="ion-padding">
        <ion-button type="submit" (click)="setPin()">Done</ion-button>
      </div>
    </form>
</ion-content>


