<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-button >
        <ion-icon slot="start" name="ios-arrow-back"  ></ion-icon>
        Member Information
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  name : parag
  <br>
  Member Id : 12324354
  <br>
  Mobile Number : 2345673456789
  <br>
  Age : 21
  <br>
  Address : Pune
  <br>
  Joined At : 24 Dec 2108
</ion-content>