<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List 
      <span style="float:right" (click)="addMembers()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item  *ngFor="let member of members">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label (click)="presentModal(member.memberId)">
        <h2>{{member.name}}</h2>
        <h3>{{member.age}}</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
