<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="members">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Members</ion-label>
      <ion-badge>100</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="earning">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Earning</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>